p {
  margin: 0
}
.top-level-content {
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sort-query{
    width: clamp(200px, 15vw, 300px);
    height: 50px;
    font-size: 32px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    border: none;
}

.user-welcome {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-request-btn {
  width: clamp(200px, 15vw, 300px);
  height: 50px;
  font-size: 32px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  border: none;
}

.requests-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.request-form {
  width: 500px;
  height: 800px;
  border-radius: 10px;
  box-shadow:0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.submit-form {
  width: 150px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: lightblue;
  border-radius: 12px;
  border: none;
}

.dim-background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0, .5) 
}

.label-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

small{
    color: red
}
